@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
  font-family: 'Open Sans';
}

/* CSS NAVBAR */
.navbar {
  font-weight: 500;
  background-color: #0f0f0f;
}

/* CSS HOME/HEADER */
.jumbotron {
  background-color: #0f0f0f;
}
.jumbotron .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.jumbotron .text h6 {
  color: #ff5a36;
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 2px;
}
.jumbotron .text h2 {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
}
.jumbotron .text p {
  color: #878787;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.jumbotron .text a {
  color: #fff;
  background: #ff5a36;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-decoration: none;
}

.jumbotron .text a:hover {
  background-color: #d83d1a;
  color: #fff;
}

/* CSS SPONSORS */
.info-sponsor {
  background-color: #000000;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.info-sponsor img {
  width: 100%;
  height: 80px;
}

/* CSS ABOUT US */
#about {
  padding-top: 25px;
}

#about p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 25px;
}

#about span {
  font-weight: 500;
}

/* CSS ABIS ABOUT US */
.next-about {
  background: #000000;
  margin-top: 30px;
  padding: 5px 5px;
}
.next-about .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: auto;
}
.next-about .text h2 {
  color: #fff;
  font-weight: 800;
  font-size: 2.5rem;
}
.next-about .text p {
  color: #878787;
  font-weight: 400;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.next-about .text a {
  color: #fff;
  background: #ff5a36;
  font-weight: 500;
  padding: 0.4rem 1.2rem;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  text-decoration: none;
}
.next-about .text a:hover {
  background-color: #d83d1a;
  color: #fff;
}

/* CSS OUR SERVICES */
.container h2 {
  margin-top: 160px;
}

.services .one {
  background: #393939;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5rem 2rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#services .custom-motor img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .custom-motor h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: -22px;
}

#services .repaint img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .repaint h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: -22px;
}

#services .repair img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .repair h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: 8px;
}

#contact {
  color: #fff;
}

#contact .info-contact p {
  color: #878787;
}

#contact .contact-item i {
  color: #ff5a36;
}

#contact .contact-form button {
  color: #fff;
  background-color: #ff5a36;
}
#contact .contact-form button:hover {
  color: #fff;
  background-color: #d83d1a;
}

.footer {
  background-color: #000;
}
