@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #0f0f0f;
  font-family: 'Open Sans';
}

/* CSS NAVBAR */
.navbar {
  font-weight: 500;
  background-color: #0f0f0f;
}

/* CSS HOME/HEADER */
.jumbotron {
  background-color: #0f0f0f;
  margin-top: 14rem;
}

.jumbotron .desk-home {
  margin-top: -80px;
}

.jumbotron h2 {
  font-weight: 800;
}

.jumbotron span {
  color: #ff5a36;
}

.jumbotron p {
  color: #878787;
}

.jumbotron button {
  color: #fff;
  background-color: #ff5a36;
}

.jumbotron button:hover {
  background-color: #d83d1a;
}

.jumbotron img {
  width: 606px;
  margin-top: -250px;
  margin-left: -65px;
}

.jumbotron .bulat img {
  width: 500px !important;
  margin-top: -150px;
  margin-left: 185px;
  z-index: -99999 !important;
}

/* CSS SPONSORS */
.info-sponsor {
  background-color: #000000;
  margin-top: 80px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.info-sponsor img {
  width: 180px;
  height: 80px;
}

/* CSS ABOUT US */
#about {
  padding-top: 25px;
}

#about p {
  font-size: 14px;
  font-weight: 300;
  padding-top: 25px;
}

#about span {
  font-weight: 500;
}

/* CSS ABIS ABOUT US */
.next-about {
  background-color: #000000;
  margin-top: 30px;
}
.next-about img {
  width: 650px;
  margin-left: -120px;
}

.next-about h2 {
  color: #fff;
  font-weight: 800;
}

.next-about p {
  color: #878787;
}

.next-about button {
  color: #fff;
  background-color: #ff5a36;
}

.next-about button:hover {
  background-color: #d83d1a;
  color: #fff;
}

.next-about .deskripsi {
  display: inline-block;
  margin-left: 580px;
  margin-top: -420px;
}

/* CSS OUR SERVICES */
.container h2 {
  color: #fff;
  margin-top: 100px;
}

.kotak img {
  width: 250px;
}

#services .custom-motor img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .custom-motor h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: -22px;
}

#services .repaint img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .repaint h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: -22px;
}

#services .repair img {
  margin-left: -50px;
  margin-top: 50px;
}

#services .repair h6 {
  color: #fff;
  margin-top: 12px;
  margin-left: 8px;
}

#contact {
  color: #fff;
}

#contact .info-contact p {
  color: #878787;
}

#contact .contact-item i {
  color: #ff5a36;
}

#contact .contact-form button {
  color: #fff;
  background-color: #ff5a36;
}
#contact .contact-form button:hover {
  color: #fff;
  background-color: #d83d1a;
}

.footer {
  background-color: #000;
}

/* MOBILE VERSION */
@media (max-width: 768px) {
  .jumbotron .desk-home {
    margin-top: 50px;
    z-index: 1;
  }
  .jumbotron .home-img img {
    margin-left: -395px;
    margin-top: -220px;
    width: 350px;
  }
  .jumbotron .bulat img {
    margin-left: -275px;
    margin-top: -160px;
    width: 290px !important;
    z-index: -1;
  }

  .info-sponsor .img-sponsor {
    margin-left: 30px;
  }

  .next-about img {
    width: 400px;
    margin-left: -100px;
  }
  .next-about .deskripsi {
    margin-left: 10px;
    margin-top: -60px;
    margin-bottom: 30px;
  }
  #services .kotak-1 {
    margin-left: 10px;
  }
  #services .custom-motor {
    margin-top: -270px;
    margin-left: 210px;
    padding-bottom: 60px;
  }

  #services .kotak-2 {
    margin-left: 10px;
  }
  #services .repaint {
    margin-top: -270px;
    margin-left: 210px;
    padding-bottom: 60px;
  }

  #services .kotak-3 {
    margin-left: 10px;
  }
  #services .repair {
    margin-top: -270px;
    margin-left: 210px;
    padding-bottom: 60px;
  }
}
